.cc-paypal-button {
  display: block;
  max-width: 300px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
}

.cc-paypal-button__title {
  font-size: 1.1rem;
  font-weight: bold;
  display: block;
}